.npcmnt-wrap{
	text-align: center;
	height: auto;
}
.npcmnt-wrap .load-comment{
	transition: background 150ms ease-in-out;
    background: #0073aa;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.88889em;
    font-weight: 700;
    line-height: 2.9;
    outline: none;
    padding: 0.76rem 1rem;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}


/**
Page Css
*/
@media only screen and (min-width: 768px){
.npccmnt-content-area {
    margin: calc(3 * 1rem) calc(10% + 60px) calc(1rem / 2);
}
}
.npccmnt-content-area .comments-heading a span{
    font-size: 12px;
}
.npccmnt-content-area .npccmnt-latest{
    font-size: 0.6em;
}
.npccmnt-content-area .npccmnt-latest .crp .crp-posts{
    width:140px; 
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
}
.npccmnt-content-area .npccmnt-latest .crp .crp-posts:hover{
    background-color: #b6b6b6;
}
.npccmnt-content-area .npccmnt-latest .crp .crp-posts .crp-info{
    font-size: 13px;
 }
 .npccmnt-content-area .npccmnt-latest .crp .crp-posts .crp-info h4{
    margin-top: 3px;
    margin-bottom: 3px;
 }